/* GENERAL */

:root {
  --color-light: #f4e0d7;
  --color-tint:  #d3c0a1;
  --color-accent: #a2806d;
  --color-dark: #7a4d5c;
  --color-secondary: #680d5c;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--color-secondary);
  position: relative;


  /* display: flex; */
  /* flex-direction: column; */
  /* overflow-y: scroll; */
}

ul {
  list-style: none;
}

p {
  font-size: 2rem;
  font-weight: 500;
}

section {
  padding: 2.4rem 3.2rem;
}


/* CONTAINER */


/* HEADER */

header {
  padding: 2.4rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  z-index: 100;

}



/* LOGO */

.logo-button {
  border: none;
  background: none;
}

.logo {
  width: 50px;
  height: 50px;
}




/* HEADER MENU BARS */

.header-menu-bar {
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in;

}

.header-menu-button span:nth-child(1) {
  transform: rotate(0deg) translateY(5px);
}

.header-menu-button span:nth-child(2) {
  transform: rotate(0deg) translateY(-5px);
}


.header-menu-button.active span:nth-child(1) {
  transform: rotate(45deg) translateY(0);
}

.header-menu-button.active span:nth-child(2) {
  transform: rotate(-45deg) translateY(0);
}


/* MENU */

.header-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 2.4rem;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: #f4e9d7;  
  transition: transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  z-index: 50;

}

.header-menu.show {
  transform: translateY(0%);
}

.menu-nav-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

}


.menu-nav-item {
  overflow-y: hidden;
}

.menu-nav-item button {
  background: none;
  border: none;
  font-size: 5.2rem;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.5s ease-in 0.5s, opacity 0.2s ease-in;  
  opacity: 0;
}


.menu-nav-item.show button {
  transform: translateY(0%);
  opacity: 1;
  
}

.header-menu-button {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: none;
  border: none;
  position: relative;
  margin-right: 2.4rem;
  
}

/* SECTION */


/* MENU SOCIALS */


.menu-social-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3.2rem;
}

.menu-social-item {
  position: relative;
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  background: #fff;  
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}

.menu-social-item.show:nth-child(1) {
  transition: opacity 0.5s ease-in 1s;
}

.menu-social-item.show:nth-child(2) {
  transition: opacity 0.5s ease-in 1.4s;
}

.menu-social-item.show:nth-child(3) {
  transition: opacity 0.5s ease-in 1.8s;
}

.menu-social-item.show:nth-child(4) {
  transition: opacity 0.5s ease-in 2.2s;
}



.menu-social-item.show {
  opacity: 1;
  visibility: visible;
}


.menu-social-item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}


/* HERO SECTION */

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  
  
}

.main-title {
  font-family: "Karantina", system-ui;
  font-size: 5.2rem;
  text-align: center;
  font-weight: 400;
}

.main-thin {
  font-weight: 300;
}

.main-bold {
  font-weight: 700;
  font-size: 6.2rem;
}

.sub-title {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 0.8rem;
}

/* STAR */

.star-section {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
 
}

.star {
  top: 0%;
  position: absolute;
  transform: rotate(0deg);
}



.star.animate {
  animation: animateStar 25s forwards, rotateStar 5s forwards;
}

@keyframes animateStar {
  100% {
    top: 100%;
  }
}

@keyframes rotateStar {
  100% {
    transform: rotate(360deg);
  }
}

/* ABOUT SECTION */

.about-text span {
  font-size: 3rem;
  font-weight: 700;
}